<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    link(rel="stylesheet", href="css/style.css",type='text/css')
    
</head>

<body>
    <div class="login-page">


        <div class="form">

            <form id="reg-form">
                <input type="text" autocomplete="off" id="name" placeholder="name" />
                <input type="email" autocomplete="off" id="email" placeholder="email" />
                <input type="password" autocomplete="off" id="password" placeholder="********" />
                <input type="submit" id="button" value="Create an account" />
                <p class="message">Already registered? <a href="/">Sign In</a></p>
            </form>

        </div>

    </div>


    script(src="js/registerScript.js")
    
</body>

</html>